.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 200px;
    transition: 0.3s ease;
}
h1 {
    font-size: 3em;
    margin-bottom: 1px;
}
.sidebar {
    margin: 55px 0;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(255, 255, 255, 0.514);
    transition: 0.3s ease;
    z-index: 2;
}
.sidebar.open {
    left: 0; 
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar a i {
    margin-right: 10px;
}
.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    cursor: pointer;
    font-size: 2em;
    color: white;
    transition: 0.3s ease;
}
.sidebar.open ~ .content {
    margin-left: 250px;
}
.sidebar.open ~ .menu-button {
    left: 270px;
}
.menu-button-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
    font-size: 2em;
    color: white;
    transition: 0.3s ease;
}
.sidebar-right {     
    margin: 55px 0;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: rgba(255, 255, 255, 0.514);
    transition: 0.3s ease;
    z-index: 2;
}
.sidebar-right.open {
    right: 0;
}
.sidebar-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-right li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-right a {
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar-right a i {
    margin-right: 10px;
}
.sidebar-right.open ~ .content {
    margin-right: 250px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1;
}
footer a {
    color: white;
    text-decoration: none;
}
#clock {
    position: relative;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    color: white;
    z-index: 3;
}